*{
    padding: 0;
    margin: 0;
}

body{
    overflow: hidden;
    background: linear-gradient(214deg, rgb(150, 150, 150) 0%, rgb(31, 31, 31) 73%) no-repeat fixed;
}

.about-container{
    width: 60%;
    margin: 7% auto;
    color: white;
    box-shadow: 3px 3px 93px black;
}

.about{
    background: #111111;
    padding: 3% 3% 5% 3%;
}

.dialog{
    margin-top: 2%;
    font-size: 20px;
    line-height: 30px;
}

.dialog-box{
    width: 70%;
}


.language-container{
    width: 40%;
}

.language{
    margin: 2% 8% 4% 0;
    font-size: 25px;
    display: flex;
    flex-direction: row;
}

#languages{
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 3%;
}

.contact-container{
    font-size: 30px;
    width: 25%;
}

.container{
    font-size: 20px;
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

.title{
    font-size: 40px;
    margin-bottom: 1%;
}

@media (max-width: 1440px) {
    
    body{
        overflow: visible;
    }
    
    .contact-container{
        font-size: 20px;
        width: 40%;
    }
    
    .language{
        font-size: 18px;
    }
    
    #languages{
        font-size: 20px;
    }
    
    .container{
        font-size: 15px;
    }
    
    .title{
        font-size: 30px;
    }
    
    .dialog{
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .about-container{
        margin: 20% auto;
        width: 80%;
    }
    
    .language-container{
        width: 50%;
    }
    
    .margin{
        margin-top: 10%;
    }
    
    .dialog-box{
        width: 90%;
    }
}
