body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.web-content{
    text-align: center;
    width: 45%;
    height: 55%;
    background: rgb(41,85,147);
    background: linear-gradient(45deg, rgba(41,85,147,1) 0%, rgba(11,43,106,1) 74%);
    line-height: 30px;
    font-size: 30px;
    position: fixed;
    top: 25%;
    left: 28%;
    box-shadow: 5px 5px 43px black;
    color: white;
}

.name-box{
    width: 90%;
    height: 100%;
    margin: 15% auto 20% auto;
}

.extra{
    line-height: 65px;
    text-shadow: 3px 3px black;
}

.name{
    font-size: 60px;
    margin-bottom: 3%;
    text-shadow: 3px 3px black;
}


@media (max-width: 1440px) {
    .web-content{
        width: 50%;
        height: 60%;
        left: 25%;
    }
}

@media (max-width: 800px) {
    .web-content{
        font-size: 15px;
    }
    
    .name{
        font-size: 30px;
    }
}